/***** Page séleciton du type de besoin REGULIER ou PONCTUAL ******/

.type-container {
  //margin-bottom: 40px;
}


.type {
  margin-bottom: 30px;

  &__block {
    height: 80%;

    &__body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 30px;
      height: 100%;
      background-color: $blue_4;
      border-radius: 5%;
    }
  }

  &__button {
    //max-width: 220px;
    border-radius: 5px !important;
  }

  h3 {
    text-transform: initial;
    color: #444444;
  }

  ul {
    margin-left: 15px;

    li {
      list-style: disc !important;
      padding-left: 10px;
    }
  }

  .flex-1 {
    flex: 1;
  }
}

.arrow-right {
  display: inline-block;
  height: 40px;
  position: relative;
  line-height: 2.5em;
  padding-left: 1em;
  padding-right: 2em;
  background: $green_1;
  color: $green_1;

  &:hover {
    color: #FFFFFF;
  }

  &:after {
    // triangle hover color
    border-left: 20px solid $green_1;
  }
}

.arrow-right:after {
  // the triangle
  content: "";
  position: absolute;
  border-bottom: 27px solid transparent;
  border-top: 27px solid transparent;
  height: 0px;
  width: 0px;
  margin-right: -23px;
  right: 0px;
  border-left: 25px solid $green_1;
  bottom: -2px;
}

.arrow-left {
  display: inline-block;
  height: 40px;
  position: relative;
  line-height: 2.5em;
  padding-left: 1em;
  padding-right: 2em;
  background: $green_1;
  color: $green_1;

  &:hover {
    color: #FFFFFF;
  }

  &:after {
    // triangle hover color
    border-left: 20px solid $green_1;
  }
}

.arrow-left:before {
  // the triangle
  content: "";
  position: absolute;
  border-bottom: 27px solid transparent;
  border-top: 27px solid transparent;
  height: 0px;
  width: 0px;
  margin-left: -23px;
  left: 0px;
  border-right: 25px solid $green_1;
  bottom: -2px;
}

.bottom-navigation {

  @media (max-width: 770px) {

    justify-content: center !important;
    a[type="button"] {
      //width: 100% !important;
      margin-bottom: 10px;
    }

    .col-lg-5 {
      width: inherit !important;
    }

  }

  .send-request {
    @media (max-width: 770px) {
      margin-right: 22px;
    }

  }

  .be-recalled {
    a, button {
      background-color: $blue_1 !important;
      line-height: 2.5em;

      &:hover {
        color: #FFFFFF;
      }
    }
  }
}

.catalog-ponctual {
  @media (max-width: 770px) {
    .bottom-navigation {
      display: flex;
      //flex-direction: column;
      .previous{
        order: 1;
      }
      .next{
        order: 2;
        margin-left: 25px;
      }

      .be-recalled {
        order: 3;
        margin-right: 74px !important;
      }
    }
  }
}
