<div class="devis__recap__item devis-recap-item-{{ product.id }} mb-2" data-qtty="{{ quantity }}">
    <div class="d-flex flex-row">
        <div class="number">
            {{ quantity }}
        </div>
        <div class="product d-flex align-items-center">
            {{ product|productLabelTranslation(locale) }}
        </div>
    </div>
</div>
